---
layout: default

---

<!-- banner -->
{% if site.data.homepage.banner.enable %}
<section class="banner bg-cover"
  style="background-image: url('{{ site.data.homepage.banner.bg_image | relative_url }}');">
  
  <div class="container">
    <div class="row">
      <div class="profile">
        <img src="{{ site.data.homepage.banner.image | relative_url }}" class="img-fluid illustration" alt="">
        <div class="col-lg-6 illustration-mobile">
          <img src="{{ site.data.homepage.banner.image | relative_url }}" class="img-fluid" alt="">
        </div>
        <ul class="list-inline social-icon mb-0" style="display: flex; justify-content: center; ">
          {% for social in site.data.parameters.social %}
          <li class="list-inline-item "><a href="{{ social.link | relative_url }}" target="_blank"><i class="{{ social.icon }}"></i></a></li>
          {% endfor %}
        </ul>
      </div>
      
      <div class="col-lg-8 mb-5 mb-lg-0 ">
        <h1>{{ site.data.homepage.banner.title }}<br><a href="{{ site.data.homepage.banner.know_more | relative_url }}"  class="btn btn-primary">Know more about me</a></h1>
        
        
      </div>
      
      
    </div>
    
  </div>
</section>
{% endif %}
<!-- /banner -->



<!-- call_to_action -->





<section class="section pt-0">

  <div class="container">
    
    <div class="row">

      <div class="col-lg-8 mx-auto">
        
        
        <div class="row shadow bg-white p-5 bradius">
          <h2 >Main Projects 👨🏽‍💻</h2>
          {% for project in site.data.projects.all_projects%}
          {% if project.main %}

          <div class="row p-5">
          <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
            
            <img src="{{ project.image | relative_url }}" class="mr-4" alt="">
            
          
          </div>
          <div class="col-md-8 text-center text-md-left">
            <a href="{{ project.button.link | relative_url }}"><h3 class="mt-0 text-primary" >{{ project.title }}</h3></a>
            
            
            <p>{{ project.description }}</p>
            {% if project.button.enable %}
            <a href="{{ project.button.link | relative_url }}"
              class="btn btn-primary">{{ project.button.label }}</a>
            {% endif %}
            <span class="list-inline social-icon mb-0" style="margin-left: 20px;">
            
              <span class="list-inline-item"><a href="{{ project.github }}" target="_blank"><i class="ti-github"></i></a></span>
             
            </span>
            
          </div>
        </div>
        {% endif %}
          {% endfor %}


   
          <a href="/projects" class="btn btn-sm btn-transparent pl-0 mt-2">View all projects</a>
          
        </div>
        
        
      </div>
      
    </div>
    
  </div>
  
  
</section>


<!-- /call_to_action -->


<!-- blog -->
<section class="section">
  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto px-0">
        
        <div class="bg-white shadow block bradius">
          <h2>Posts 📝</h2><br>
          {% for post in paginator.posts %}
          {% include post.html %}
          {% endfor %}
          <!-- pagination -->
          {% include pagination.html %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->