---
layout: default
---

<!-- blog -->
<section class="section">
  
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto px-0">
          
          <div class="bg-white shadow block bradius">
            <h2>{{ page.title }}</h2><br>
            {% for post in site.posts %}
            {% include post.html %}
            {% endfor %}
            <!-- pagination -->
            {% include pagination.html %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /blog -->